<div class="nav-bar-container">
  <ul>
    <li><a routerLinkActive="active" routerLink="/accueil">Acceuil</a></li>
    <li><a routerLinkActive="active" routerLink="/admin">Administrateur</a></li>
    <li><a routerLinkActive="active" routerLink="/prepose-client-residentiel">Préposé aux clients résidentiels</a></li>
    <li><a routerLinkActive="active" routerLink="/prepose-client-affaire">Préposé aux clients d’affaire</a></li>
    <li><a routerLinkActive="active" routerLink="/deconnexion">Se déconnecter</a></li>
  </ul>
</div>







